
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-emo-sunglasses:before { content: '\e802'; } /* '' */
.icon-users-1:before { content: '\e803'; } /* '' */
.icon-user-1:before { content: '\e804'; } /* '' */
.icon-user-add:before { content: '\e805'; } /* '' */
.icon-file-excel:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-file-image:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-link:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-users-2:before { content: '\e80d'; } /* '' */
.icon-user-female:before { content: '\e80e'; } /* '' */
.icon-emo-tongue:before { content: '\e80f'; } /* '' */
.icon-emo-wink2:before { content: '\e810'; } /* '' */
.icon-file-pdf:before { content: '\e811'; } /* '' */
.icon-file-word:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-graduation-cap:before { content: '\e814'; } /* '' */
.icon-pencil:before { content: '\e815'; } /* '' */
.icon-pencil-circled:before { content: '\e816'; } /* '' */
.icon-edit-alt:before { content: '\e817'; } /* '' */
.icon-mic:before { content: '\e818'; } /* '' */
.icon-briefcase:before { content: '\e819'; } /* '' */
.icon-install:before { content: '\e81a'; } /* '' */
.icon-calendar-1:before { content: '\e81b'; } /* '' */
.icon-chat:before { content: '\e81c'; } /* '' */
.icon-plus:before { content: '\e81d'; } /* '' */
.icon-minus:before { content: '\e81e'; } /* '' */
.icon-graduation-cap-1:before { content: '\e81f'; } /* '' */
.icon-megaphone:before { content: '\e820'; } /* '' */
.icon-thermometer:before { content: '\e821'; } /* '' */
.icon-temperature:before { content: '\e822'; } /* '' */
.icon-temperatire:before { content: '\e823'; } /* '' */
.icon-mic-1:before { content: '\e824'; } /* '' */
.icon-calculator:before { content: '\e825'; } /* '' */
.icon-calendar-2:before { content: '\e826'; } /* '' */
.icon-phone-1:before { content: '\e827'; } /* '' */
.icon-phone-circled:before { content: '\e828'; } /* '' */
.icon-info:before { content: '\e829'; } /* '' */
.icon-info-1:before { content: '\e82a'; } /* '' */